.productInfoContainer{
    height: 100vh;
    width: 80%;
    margin: 1em  auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2em;
    color: #ffffff;
    margin-top: 2em;
    border-bottom: 1px solid #FF0F00
    ;
    padding: 2em 0;
}
.productInfoContainer h5{
    font-size: 1.3em;
}

.productInfoContainer .infoImg{
    object-fit: cover;
    object-position: center;
    max-height: 90vh;
    
}
.productInfoContainer .information{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}
.productInfoContainer .information p{
    font-size: .9em
}
.priceAddto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.priceAddto button{
    margin-bottom: .5em;
}
.envios{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.infoPayment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPayment .paymentMethods{
    display: flex;
    gap: 1.7em;
    justify-content: center;
    align-items: center;
    margin: auto 0;

}.infoPayment svg:hover{
    transform: scale(1.1);
    transition: .3s;
}
.information svg{
    gap: 1em;
    margin-bottom: .3em;
}
.paymentItem{
    font-size: .7em;
    display: flex;
    gap: .2em;
    align-items: center;    
}.paymentItem span{
    margin-bottom: .4em;
}
.price{
    text-decoration: line-through;
}
.discountedPrice{
    color: #FF0F00;
    font-weight: 700;
}
.prices{
    display: inline;
    gap: .5em;
}
.discountBadge{
    position: absolute;
    background-color: #FF0F00;
    color: #fff;
    padding: .3em;
    font-size: 1.1em;
    font-weight: 700;
    z-index: 22;
}





@media (max-width: 1200px){
    .productInfoContainer{
        width: 95%;
        gap: .5emem;
    }
    .productInfoContainer .infoImg{
        max-height: 70vh;
    }
    .carouselContainer{
        max-height: 70vh;
    }
    .productInfoContainer .information{
        gap: .5em;
        justify-content: flex-start;
    }
    .productInfoContainer .information p{
        font-size: .8em
    }
    .priceAddto{
        flex-direction: column;
        gap: .5em;
    }
    .productInfoContainer h5{
        font-size: .9em;
    }
}
@media (max-width: 868px){
    .productInfoContainer{
        width: 80%;
        flex-direction: column-reverse;
        gap: 2em;
        height: auto;
        border-bottom: none;
    }
    .productInfoContainer .infoImg{
        width: 100%;
    }
    .infoPayment{
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }.paymentItem{
        font-size: .5em;
    }
    
}
